<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Устав</title>

  <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>

<header>

  <div class="logo">
    <!--        <img src="static/images/logo.png" alt="logo">-->
    <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
  </div>

  <nav>
    <ul class="menu">
      <li>
        <a href="/">Архив выпусков</a>
        <ul>
          <li th:each="year : ${#numbers.sequence(T(java.time.Year).now().value,2008,-1)}">
            <a href="#" th:text="${year}"></a>
            <ul>
              <li th:each="journal : ${journals}"
                  th:if="${journal.year==year}">
                <a th:href="@{/journal/{id}(id=${journal.id})}"
                   th:text="'Выпуск № ' + ${journal.issue}">
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="sp-menu-item">
        <a>Об издании</a>
        <ul>
          <li>
            <a href="/about">Информация об издании</a>
          </li>
          <li>
            <a href="/founder">Учредитель и издатель</a>
          </li>
          <li>
            <a href="/charter">Устав</a>
          </li>
          <li>
            <a href="/editorial-board">Редакционная коллегия</a></li>
          <li>
            <a href="/editorial-ethics">Редакционная этика</a></li>
        </ul>
      </li>
      <li class="sp-menu-item">
        <a href="/for-authors ">Авторам</a>
      </li>
      <li class="sp-menu-item">
        <a href="/contacts">Контакты</a>
      </li>
    </ul>
  </nav>
</header>

<div class="article">
<p>
  УСТАВ
  редакции журнала «Музыка в системе культуры:
  Научный вестник Уральской консерватории»
  (в редакции от 20 мая 2026 г.)

  1. Общие положения
  1.1. Настоящий Устав редакции средства массовой информации «Музыка в
  системе культуры: Научный вестник Уральской консерватории» (далее - Устав)
  разработан в соответствии с Законом Российской Федерации от 27 декабря 1991
  года № 2124-1 «О средствах массовой информации» (далее - Закон о СМИ),
  Федеральным законом от 29.12.2012 г. 273-Ф3 «Об образовании в Российской
  Федерации», уставом федерального государственного бюджетного
  образовательного учреждения высшего образования «Уральская
  государственная консерватория имени М.П. Мусоргского».
  1.2. Редакция средства массовой информации «Музыка в системе
  культуры: Научный вестник Уральской консерватории» (далее - Редакция)
  осуществляет производство и выпуск средства массовой информации -
  периодического печатного издания, журнала «Музыка в системе культуры:
  Научный вестник Уральской консерватории», зарегистрированного
  Федеральной службой по надзору в сфере связи, информационных технологий
  и массовых коммуникаций от «30» июля 2020 года, регистрационный номер:
  серия ПИ № ФС77-78783 (далее - Журнал).
  1.3. Редакция не является юридическим лицом.
  1.4. Учредителем Журнала является федеральное государственное
  бюджетное образовательное учреждение высшего образования «Уральская
  государственная консерватория имени М.П. Мусоргского» (далее -
  Учредитель).
  1.4.1. Местонахождение Учредителя: 620014, Екатеринбург, проспект
  Ленина, дом 26.
  1.5. Издателем Журнала является федеральное государственное бюджетное
  образовательное учреждение высшего образования «Уральская
  государственная консерватория имени М.П. Мусоргского» (далее - Издатель).
  1.5.1. Местонахождение Издателя: 620014, Екатеринбург, проспект
  Ленина, дом 26.
  1.6. Настоящий Устав определяет:
  - Предмет, цель, задачи и направления деятельности Редакции;
  - Управление Редакцией, порядок назначения Главного редактора,
  Редакционной коллегии и (или) иных органов управления;
  - Взаимные права и обязанности Учредителя, Редакции, Главного
  редактора;
  - Финансовые и имущественные отношения между Учредителем и
  Редакцией;
  - Полномочия коллектива журналистов;
  - Основания и порядок прекращения или приостановления деятельности
  Журнала;
  - Передача и (или) сохранение права название Журнала;
  - Юридические последствия смены Учредителя, прекращения
  деятельности Журнала, ликвидации или реорганизации Редакции.
  2
  1.7. Настоящий Устав и изменения в него принимаются на общем собрании
  коллектива журналистов - штатных сотрудников Редакции и утверждаются
  Учредителем.
  2. Предмет, цель, задачи и направления деятельности Редакции
  2.1. Предметом деятельности Редакции является производство и выпуск
  Журнала в соответствии с примерной тематикой и (или) специализацией, и
  языком, заявленными Учредителем при регистрации Журнала.
  2.1 .1. Примерная тематика и (или) специализация Журнала: культурнопросветительское СМИ; культурно-просветительская, музыкальнообразовательная, научная, научно-просветительская, реклама в соответствии с
  законодательном Российской Федерации о рекламе.
  2.1.2. Язык(и) Журнала: русский, английский.
  2.2. Редакция осуществляет работу по подготовке, выпуску и
  распространению Журнала как средства массовой информации,
  представленного в виде книжной продукции (печатной, электронной версиях).
  2.3. Основной целью Редакции является содействие созданию
  специализированной платформы для освещения и обсуждения на страницах
  Журнала результатов современных исследований в области теории и истории
  современного музыкознания, музыкального исполнительства, краеведения,
  фольклористики, духовно-музыкальной культуры, музыкальной педагогики и
  образования.
  2.4. Приоритетное направление деятельности Редакции - производство и
  выпуск Журнала в соответствии с его основными рубриками, утверждаемыми
  Редакций.
  2.4.1. Рубрикатор Журнала может изменяться на основе решения Редакции.
  2.5. Редакция в рамках решения задач, связанных с поиском, получением
  информации, производством и распространением Журнала:
  2.5.1. Выявляет соответствие содержания полученных от авторов научных
  статей тематике Журнала.
  2.5.2. Осуществляет допуск научной статьи к публикации в Журнале на
  основе рецензирования статьи.
  Критериями положительной оценки статьи являются актуальность, научная
  новизна, теоретическая и практическая значимость исследования; логичность,
  последовательность, научный стиль изложения материала; достоверность
  представленных результатов и соблюдение правил цитирования источников;
  соответствие правилам оформления; соответствие паспорту научной
  специальности.
  Основанием для открытого опубликования статьи являются сведения,
  содержащиеся в статье, не подпадающие под действие Перечня сведений,
  составляющих государственную тайну (статья 5 Закона Российской Федерации
  от 21 июля 1993 г. № 5485-1 «О государственной тайне), не относящиеся к
  Перечню сведений, отнесенных к государственной тайне, утвержденному
  Указом Президента Российской Федерации от 30 ноября 1995 г. № 1203 «Об
  3
  утверждении перечня сведений, отнесенных к государственной тайне»), не
  подлежащие засекречиванию.
  2.5.3. Осуществляет публикацию объявлений в порядке, установленном
  Законом о СМИ и другими законодательными актами.
  2.5.4. Вступает в непротиворечащие Закону договорные отношения с
  юридическими и физическими лицами в целях осуществления уставных задач
  Редакции.
  2.5.5. Выступает распространителем Журнала.
  2.5.6. Осуществляет редакционно-издательское сотрудничество с
  субъектами Российской Федерации и зарубежных стран в области образования,
  науки, культуры и искусства.
  3. Управление Редакцией,
  порядок назначения Главного редактора,
  Редакционной коллегии и (или) иных органов управления
  3.1. Управление Редакцией осуществляет Главный редактор в пределах
  своей компетенции, установленной настоящим Уставом и иными локальными
  нормативными актами Учредителя.
  3.2. Главный редактор назначается на должность и освобождается от
  должности на основании приказа ректора Учредителя.
  3.2.1. Главный редактор принимается на работу на основании
  заключенного с ним трудового договора.
  3.3. Коллегиальным совещательным органом является Редакционная
  коллегия Журнала.
  3.3.1. Главный редактор входит в состав Редакционной коллегии по
  должности.
  3.3.2. Персональный состав Редакционной коллегии формирует Главный
  редактор без заключения с ее членами трудовых или гражданско-правовых
  договоров.
  3.3.3. Свою деятельность члены Редакционной коллегии, кроме Главного
  редактора, осуществляют на безвозмездной основе.
  3.3.4. Редакционная коллегия состоит из авторитетных лиц в области
  заявленных в Журнале отраслей науки.
  3.3.5. Имена членов Редакционной коллегии входят в состав выходных
  сведений Журнала.
  3.4. Деятельность членов Редакционной коллегии свидетельствует об
  основательности содержания Журнала и служит гарантией его качества.
  3.4.1. Решения Редакционной коллегии носят рекомендательный характер.
  3.4.2. Редакционная коллегия выносит решение по спорным вопросам,
  касающимся представленных к публикации в Журнале статей; укрепляет
  сотрудничество Журнала с субъектами Российской Федерации и зарубежных
  стран в области науки, образования, культуры и искусства; рекомендует новых
  кандидатов в члены Редакционной коллегии.
  4
  3.5. Заседания Редакционной коллегии в очном или дистанционном режиме
  проводятся по мере необходимости для обсуждения вопросов, связанных с
  производством и выпуском Журнала.
  3.5.1. На заседаниях Редакционной коллегии председательствует Главный
  редактор.
  3.5.2. Повестка дня определяется Главным редактором.
  3.5.3. Члены Редакционной коллегии вправе выдвинуть в повестку дня
  дополнительные вопросы.
  3.5.4. Заседание Редакционной коллегии правомочно, если на нем
  присутствуют более половины членов Редакционной коллегии, включая
  Главного редактора.
  3.5.5. Проекты решений Редакционной коллегии выдвигаются на
  заседаниях в очном или дистанционном режиме.
  Решения принимаются простым большинством голосов присутствующих
  членов Редакционной коллегии и утверждаются Главным редактором.
  4. Взаимные права и обязанности Учредителя, Редакции,
  Главного редактора
  4.1. Учредитель, Редакция и Главный редактор Журнала в своей
  деятельности руководствуются законодательством Российской Федерации,
  Законом о СМИ, Уставом Учредителя, настоящим Уставом, приказами ректора
  Учредителя и другими локальными нормативными актами Учредителя.
  4.2. Учредитель Журнала имеет право:
  4.2.1. Утверждать Устав Редакции.
  4.2.2. Утверждать изменения и дополнения к Уставу Редакции, принятые
  на общем собрании коллектива журналистов.
  4.2.3. Принимать решения о реорганизации и ликвидации Редакции.
  4.2.4. Прекратить или приостановить издание Журнала в случаях и в
  порядке, установленных законодательством РФ и настоящим Уставом
  Редакции.
  4.2.5. Определять язык, тематику и специализацию, периодичность и
  объем Журнала, форму и (или) территорию распространения.
  4.2.6. Осуществлять контроль соответствия деятельности Редакции
  положениям законодательства Российской Федерации, Уставом Учредителя,
  настоящим Уставом, другими локальными нормативными актами Учредителя;
  соответствия Журнала тематике и специализации, языку, периодичности и
  объему.
  От имени Учредителя контроль деятельности Редакции осуществляет
  проректор по научной работе Учредителя.
  4.2.7. Назначать Главного редактора Журнала в установленном настоящим
  Уставом порядке.
  4.2.8. Передавать свои права и обязанности третьим лицам - изменить в
  установленном порядке тематику и специализацию, язык Журнала, название,
  форму и (или) территорию распространения, периодичность, объем и тираж.
  5
  4.2.9. По претензиям и искам, связанным с заявлением Учредителя,
  ответственность несет Учредитель.
  4.2.9.1. Если принадлежность указанного сообщения или материала
  Учредителю не оговорена Редакцией, она выступает соответчиком.
  4.2.10. Запрашивать информацию у Редакции о расходовании
  предоставленных Учредителем средств на издание Журнала.
  4.2.11. Решать входящие в компетенцию Учредителя иные вопросы,
  определенные действующим законодательством и настоящим Уставом.
  4.3. Учредитель Журнала обязан:
  4.3.1. Соблюдать положения настоящего Устава и Закона о СМИ.
  4.3.2. Не вмешиваться в профессиональную деятельность Редакции,
  обеспечивать ее творческую самостоятельность, за исключением случаев,
  предусмотренных законодательством Российской Федерации и настоящим
  Уставом.
  4.3.3. Защищать профессиональные интересы Редакции в соответствии с
  Законом о СМИ и настоящим Уставом.
  4.3.4. Исполнять принятые на себя обязательства перед Редакцией и
  третьими лицами по вопросам своевременного выпуска Журнала.
  4.3.5. Обеспечивать условия труда, необходимые для осуществления
  журналистами своих обязанностей, предоставлять необходимое оборудование
  согласно существующим нормативам.
  4.3.6. Содействовать работе журналистов на основе информационной
  поддержки, создания благоприятных условий для производства записи и
  фотосъемки.
  4.3.7. Оказывать Редакции иное необходимое содействие в осуществлении
  ее деятельности.
  4.3.8. Внести изменения в запись о регистрации Журнала либо направить
  уведомление в адрес регистрирующего органа при наступлении событий,
  предусмотренных ст. 11 Закона о СМИ:
  4.3.8.1. Письменно уведомить регистрирующий орган о смене учредителя,
  изменении состава соучредителей, наименования (названия), языка (языков),
  примерной тематики и (или) специализации Журнала, территории
  распространения Журнала, доменного имени сайта в информационнотелекоммуникационной сети «Интернет» (для сетевого издания), а также
  формы и (или) вида периодического распространения массовой информации.
  4.3.8.2. В течение месяца со дня изменения места нахождения Учредителя
  и (или) Редакции журнала, периодичности выпуска и максимального объема
  Журнала, принятия решения о прекращении, приостановлении или
  возобновлении деятельности Журнала, Учредитель обязан уведомить об этом
  регистрирующий орган. Уведомление представляется в регистрирующий орган
  в письменной форме непосредственно или направляется заказным почтовым
  отправлением с уведомлением о вручении.
  Уведомление может быть представлено в регистрирующий орган в форме
  электронного документа, подписанного усиленной квалифицированной
  6
  электронной подписью, в том числе с использованием единого портала
  государственных и муниципальных услуг.
  4.4. Редакция Журнала осуществляет свою деятельность на основе
  профессиональной самостоятельности и имеет право:
  4.4.1. Планировать свою деятельность в рамках утвержденной
  Учредителем тематики и (или) специализации Журнала, решать вопросы его
  содержания и художественного оформления.
  4.4.2. Осуществлять подбор статей и материалов в очередной номер
  Журнала.
  4.4.3. Осуществлять договорные отношения с авторами статей в
  установленном порядке.
  4.4.4. Осуществлять переписку с читателями Журнала, учитывать их
  интересы и предложения.
  4.4.5. Привлекать, по согласованию с Учредителем, специалистов для
  выполнения отдельных редакционно-издательских работ.
  4.4.6. Назначать рецензентов статей.
  4.4.7. Размещать в Журнале сообщения и материалы без согласования их с
  Учредителем, давать оценку каким-либо событиям и фактам, высказывать свое
  мнение, вступать в полемику и т.д., за исключением случаев, предусмотренных
  п. 4.2.6 настоящего Устава.
  4.5. Редакция Журнала обязана:
  4.5.1. Проводить работу по отбору статей и материалов с точки зрения их
  научной актуальности, обеспечивая высокий содержательный, научный,
  художественный и профессиональный уровень публикаций.
  4.5.2. Осуществлять оформление материалов для печати в соответствии с
  требованиями действующих стандартов, технических условий, других
  нормативных документов.
  4.5.3. Обеспечивать соблюдение утвержденных графиков производства
  Журнала.
  4.5.4. Публиковать в Журнале не подлежащее рецензированию заявление
  Учредителя полностью и в указанные им сроки.
  4.5.5. Соблюдать все права и законные интересы третьих лиц, а также
  соблюдать права на используемые произведения, включая авторские и смежные
  права.
  4.5.6. Соблюдать требования ст. 27 «О выходных данных» Закона о СМИ.
  Каждый выпуск Журнала должен содержать следующие сведения:
  1) наименование (название) издания;
  2) учредитель (соучредители);
  3) фамилия, инициалы главного редактора;
  4) порядковый номер выпуска и дата его выхода в свет;
  5) индекс - для изданий, распространяемых через предприятия связи;
  6) тираж;
  7) цена, либо пометка «Свободная цена», либо пометка «Бесплатно»;
  8) адреса редакции, издателя, типографии;
  7
  9) знак информационной продукции в случаях, предусмотренных
  Федеральным законом от 29 декабря 2010 года N 436-ФЗ «О защите детей от
  информации, причиняющей вред их здоровью и развитию».
  4.5.7. Размещать в Журнале обязательные сообщения, предусмотренные
  ст. 35 Закона о СМИ:
  Редакция журнала обязана опубликовать бесплатно и в предписанный
  срок: вступившее в законную силу решение суда, содержащее требование об
  опубликовании такого решения через данное средство массовой информации;
  поступившее от органа, зарегистрировавшего данное средство массовой
  информации, сообщение, касающееся деятельности Редакции журнала.
  4.5.8. Соблюдать правила использования конфиденциальной информации:
  не разглашать в распространяемых сообщениях и материалах сведения о
  человеке без его согласия, в том числе без согласия несовершеннолетнего и его
  законного представителя и др.
  4.6. Никто не вправе обязать Редакцию журнала опубликовать отклоненное
  ею произведение, сообщение или материал, если иное не предусмотрено
  Законом о СМИ.
  4.7. Главный редактор Журнала имеет право:
  4.7.1. Участвовать в работе коллегиальных органов управления при
  рассмотрении вопросов, касающихся организации деятельности Журнала.
  4.7.2. Заключать договоры с распространителем, авторами и
  рекламодателями.
  4.8. Главный редактор Журнала:
  4.8.1. Осуществляет управление Редакцией и Редакционной коллегией
  Журнала в пределах своей компетенции, установленной настоящим Уставом.
  4.8.2. Представляет интересы Редакции в отношениях с Учредителем.
  4.8.3. Организует работу Редакции, издает распоряжения и дает указания,
  обязательные для исполнения работниками Редакции.
  4.8.4. Возглавляет разработку перспективных и текущих календарнотематических планов Редакции.
  4.8.5. Определяет состав Редакционной коллегии Журнала.
  4.8.6. Принимает окончательное решение о производстве, выпуске и
  распространении Журнала.
  4.8.7. Принимает решение об одобрении или отклонении представляемых
  на рассмотрение материалов (сообщений), снимает разногласия между
  авторами, редакторами и другими работниками Редакции.
  4.8.8. Осуществляет контроль соблюдения сроков подготовки материалов
  (сообщений) и их выход в печать.
  4.8.9. Подписывает номер Журнала в набор, печать и выпуск в свет.
  4.8.10. Обеспечивает рациональное использование материальных и
  финансовых ресурсов, технических средств.
  4.8.11. Создает необходимые условия для повышения квалификации
  работников Редакции и поддержания творческой атмосферы в коллективе
  журналистов - штатных работников Учредителя.
  8
  4.8.12. Решает иные вопросы, отнесенные к его компетенции настоящим
  Уставом и другими локальными нормативными актами Учредителя.
  4.9. Главный редактор несет ответственность за выполнение требований,
  предъявляемых к деятельности Журнала Законом о СМИ и другими
  законодательными актами Российской Федерации: отправка обязательного
  экземпляра Журнала и др.
  4.10. Права и обязанности Учредителя, Редакции и Главного редактора
  Журнала, предусмотренные Законом о СМИ, возникают с момента регистрации
  Журнала, а предусмотренные настоящим Уставом - с момента его
  утверждения.
  4.11. Учредитель, члены Редакции и Главный редактор Журнала могут
  дополнительно установить на договорной основе взаимные права и
  обязанности.
  4.12. Учредитель, Редакция и Главный редактор Журнала несут
  ответственность за нарушение Закона о СМИ.
  4.17. Моральный (неимущественный) вред, причиненный гражданину в
  результате распространения не соответствующих действительности сведений,
  порочащих честь и достоинство, либо причинивших иной неимущественный
  вред, возмещается по решению суда Учредителем журнала, а также виновными
  лицами в мере, определенной решением суда.
  4.18. Сотрудники Редакции Журнала несут материальную ответственность
  за сохранность имущества, переданного им в пользование.
  5. Финансовые и имущественные отношения
  между Учредителем и Редакцией
  5.1. Журнал издается за счет средств Учредителя.
  5.2. Заключение финансово-хозяйственных и иных договоров в целях
  публикации в Журнале научных статей, рекламных и иных материалов по
  тематике и (или) специализации Журнала осуществляет Редакция.
  5.3. Лицензионный договор о предоставлении неисключительных прав на
  использование произведения (неисключительная лицензия) авторы научных
  статей (Лицензиары) заключают с Редакцией и Учредителем (Лицензиат).
  5.4. Стоимость размещения в Журнале научных статей, рекламных и иных
  материалов, определяется Учредителем.
  5.5. Стоимость размещения в Журнале научных статей, рекламных и иных
  материалов, не определенная Учредителем, согласовывается Редакцией с
  Учредителем до заключения ей финансово-хозяйственных и иных договоров в
  целях публикации в Журнале научных статей, рекламных и иных материалов
  по тематике и (или) специализации Журнала.
  5.6. Денежные средства, уплачиваемые авторами и (или) заказчиками при
  исполнении финансово-хозяйственных и иных договоров в целях публикации в
  Журнале научных статей, рекламных и иных материалов, по заключаемым
  Редакцией договорам уплачиваются Учредителю.
  9
  5.7. Стоимость распространения Журнала на платной основе в любых
  формах его распространения определяет Учредитель.
  5.8. При получении Учредителем денежных средств от иностранных
  источников при исполнении финансово-хозяйственных и иных договоров в
  целях публикации в Журнале научных статей, рекламных и иных материалов
  Редакция и Учредитель исполняют обязанности, предусмотренные Законом о
  СМИ, об уведомлении федерального органа исполнительной власти,
  осуществляющего функции по контролю и надзору в сфере средств массовой
  информации, массовых коммуникаций, информационных технологий и связи о
  получении денежных средств от иностранных источников.
  5.9. Имущество, используемое Редакцией, является составной частью
  имущества Учредителя.
  5.10. Финансирование Журнала осуществляется в соответствии с Планом
  финансово-хозяйственной деятельности Учредителя.
  5.11. Прибыль, получаемая в результате деятельности Редакции, является
  собственностью Учредителя и используется им для возмещения материальных
  затрат на производство и выпуск Журнала, осуществление обязательных
  платежей и отчислений и на иные цели в соответствии с Уставом и другими
  локальными нормативными актами Учредителя.
  6. Полномочия коллектива журналистов
  6.1. Журналист имеет право:
  6.1.1. Искать, запрашивать, получать и распространять информацию.
  6.1.2. Посещать государственные органы и организации, предприятия и
  учреждения, органы общественных объединений либо их пресс-службы.
  6.1.3. Быть принятым должностными лицами в связи с запросом
  информации.
  6.1.4. Получать доступ к документам и материалам, за исключением их
  фрагментов, содержащих сведения, составляющие государственную,
  коммерческую или иную специально охраняемую законом тайну.
  6.1.5. Копировать, публиковать, оглашать или иным способом
  воспроизводить документы и материалы при условии соблюдения требований
  Закона о СМИ.
  6.1.6. Производить записи, в том числе с использованием средств аудио- и
  видеотехники, кино- и фотосъемки, за исключением случаев, предусмотренных
  законом.
  6.1.7. Посещать специально охраняемые места стихийных бедствий,
  аварий и катастроф, массовых беспорядков и массовых скоплений граждан, а
  также местности, в которых объявлено чрезвычайное положение;
  присутствовать на митингах и демонстрациях.
  6.1.8. Проверять достоверность сообщаемой ему информации.
  6.1.9. Излагать свои личные суждения и оценки в сообщениях и
  материалах, предназначенных для распространения за его подписью.
  10
  6.1.10. Отказаться от подготовки за своей подписью сообщения или
  материала, противоречащего его убеждениям.
  6.1.11. Снять свою подпись под сообщением или материалом, содержание
  которого, по его мнению, было искажено в процессе редакционной подготовки,
  либо запретить или иным образом оговорить условия и характер использования
  данного сообщения или материала в соответствии с требованиями Закона «О
  средствах массовой информации».
  6.1.12. Распространять подготовленные им сообщения и материалы за
  своей подписью, под псевдонимом или без подписи.
  Журналист пользуется также иными правами, предоставленными ему
  законодательством Российской Федерации о средствах массовой информации.
  6.2. Журналист обязан:
  6.2.1. Соблюдать положения настоящего Устава и Закона о СМИ.
  6.2.2. Проверять достоверность сообщаемой им информации.
  6.2.3. Удовлетворять просьбы лиц, предоставивших информацию, об
  указании на ее источник, а также об авторизации цитируемого высказывания,
  если оно оглашается впервые.
  6.2.4. Сохранять конфиденциальность информации и (или) ее источника.
  6.2.5. Получать согласие (за исключением случаев, когда это необходимо
  для защиты общественных интересов) на распространение в средстве массовой
  информации сведений о личной жизни гражданина от самого гражданина или
  его законных представителей.
  6.2.6. При получении информации от граждан и должностных лиц ставить
  их в известность о проведении аудио- и видеозаписи, кино- и фотосъемки.
  6.2.7. Ставить в известность Главного редактора о возможных исках и
  предъявлении иных предусмотренных законом требований в связи с
  распространением подготовленного им сообщения или материала.
  6.2.8. Отказаться от данного ему Главным редактором или Редакцией
  задания, если оно либо его выполнение связано с нарушением закона.
  6.2.9. Предъявлять при осуществлении профессиональной деятельности по
  первому требованию редакционное удостоверение или иной документ,
  удостоверяющий личность и полномочия журналиста.
  6.2.10. Соблюдать запрет на проведение им предвыборной агитации,
  агитации по вопросам референдума при осуществлении профессиональной
  деятельности.
  Журналист несет также иные обязанности, установленные
  законодательством Российской Федерации о средствах массовой информации.
  При осуществлении профессиональной деятельности журналист обязан
  уважать права, законные интересы, честь и достоинство граждан и
  организаций.
  6.3. Коллектив журналистов составляют лица из числа штатных
  работников Учредителя, которые также осуществляют редактирование
  (литературное, научное, художественное, техническое), создание, сбор или
  подготовку сообщений и материалов (текстовых и иллюстративных) для
  Журнала.
  11
  6.4. Коллектив журналистов также:
  6.4.1. Принимает участие в разработке и подготовке редакционных планов.
  6.4.2. Участвует в редакционно-издательских мероприятиях Редакции
  журнала.
  6.4.3. Вносит руководству Редакции журнала предложения по улучшению
  качества Журнала и ускорению редакционно-издательского процесса.
  6.5. Коллектив журналистов осуществляет свои права на общем собрании
  коллектива журналистов, организуемом по мере необходимости с целью
  соответствия деятельности Журнала требованиям Закона о СМИ: принимает
  Устав редакции журнала, который подлежит утверждению Учредителем
  журнала; рассматривает вопросы, относящиеся к его компетенции в рамках
  настоящего Устава:
  6.5.1. Собрание коллектива журналистов правомочно, если на нем
  присутствуют не менее двух третей членов коллектива журналистов.
  6.5.2. Решения принимаются простым большинством голосов
  присутствующих на собрании членов коллектива журналистов.
  6.5.3. Собрание коллектива журналистов избирает из своего состава
  председательствующего, который ведет собрание, и секретаря, который
  составляет протокол собрания.
  6.5.3.1. Протокол собрания коллектива журналистов подписывается
  председательствующим и секретарем.
  6.5.4. Собрание коллектива журналистов не вправе обсуждать и принимать
  решения по вопросам, не относящимся к его компетенции в рамках настоящего
  Устава.
  7. Основания и порядок прекращения
  или приостановления деятельности Журнала
  7.1. Основания и порядок прекращения и приостановления деятельности
  Журнала определяются ст. 15, 16 Закона о СМИ.
  7.2. Учредитель также вправе прекратить или приостановить деятельность
  Журнала в случае, если:
  - Редакция Журнала нарушила требования законодательства о средствах
  массовой информации, норм журналистской этики или настоящего Устава
  повторно после получения предупреждения Учредителя;
  - издание Журнала является убыточным;
  - Учредитель утратил возможность финансировать выпуск Журнала;
  - производство и выпуск Журнала признаны Учредителем
  нецелесообразными по иным основаниям.
  Решение о прекращении или приостановлении деятельности Журнала
  принимается Учредителем.
  7.3. Решение Учредителя о приостановлении или прекращении
  деятельности Журнала направляется в регистрирующий орган.
  12
  7.4. В случае принятия решения о приостановлении деятельности
  Журнала, Учредитель обязан направить в регистрирующий орган уведомление
  в течение месяца со дня принятия решения.
  7.5. Принятие Учредителем решения о прекращении деятельности
  Журнала влечет недействительность настоящего Устава.
  8. Передача и (или) сохранение права на название Журнала
  8.1. Право на выпуск Журнала под заявленным при его регистрации
  названием, подготовку и выпуск которого после его регистрации осуществляет
  Редакция журнала, принадлежит Учредителю:
  8.1.1. В случае смены Учредителя, изменения состава соучредителей, в том
  числе в случае реорганизации одного из соучредителей, право на название
  Журнала переходит к новому Учредителю, измененному составу
  соучредителей.
  8.1.2. В случае ликвидации Учредителя право на название Журнала ни к
  кому не переходит.
  8.2. Логотип Журнала может быть зарегистрирован Учредителем в
  качестве товарного знака в соответствии с законодательством Российской
  Федерации.
  9. Юридические последствия смены Учредителя,
  прекращения деятельности Журнала,
  ликвидации или реорганизации Редакции
  9.1. В случае смены Учредителя продолжает свою деятельность после
  внесения изменений в запись о регистрации Журнала в установленном Законом
  порядке.
  9.2. В случае реорганизации Учредителя его права и обязанности в полном
  объеме переходят к новому Учредителю, составу учредителей Журнала.
  9.3. В случае ликвидации Учредителя деятельность Редакции
  прекращается.
  9.4. По решению Учредителя Редакция может быть зарегистрирована в
  качестве юридического лица.
  9.5. Деятельность Редакции может быть прекращена по решению
  Учредителя или суда.
  9.6. Прекращение деятельности Редакции возможно путем ее ликвидации
  или реорганизации.
  9.7. Решение о ликвидации Редакции принимает Учредитель:
  9.8. В случае ликвидации Редакции, ее права и обязанности в полном
  объеме переходят к Учредителю.
  9.9. Ликвидация Редакции осуществляется в соответствии с
  законодательством Российской Федерации.
  9.10. Ликвидация Редакции влечет прекращение ее деятельности без
  перехода прав и обязанностей в порядке правопреемства к другим лицам.
  13
  9.11. Решение о реорганизации, изменении организационно-правовой
  формы Редакции журнала принимает Учредитель.
  9.12. В случае реорганизации Редакции ее права переходят к новой
  Редакции по решению Учредителя.
  9.13. Юридические последствия реорганизации или изменения
  организационно-правовой формы Редакции наступают в зависимости от
  выбранной организационно-правовой формы или формы реорганизации
  Редакции.
  9.14. Порядок реорганизации или изменения организационно-правовой
  формы Редакции определяются действующим законодательством.
  9.15. Реорганизация Редакции в любой предусмотренной
  законодательством Российской Федерации форме, изменение ее
  организационно-правовой формы не является основанием для прекращения
  производства и выпуска Журнала, если Учредителем не будет принято иного
  решения.
  9.16. При реорганизации Редакции, изменении ее организационно -
  правовой формы принимается и утверждается новый Устав редакции.
  9.17. При реорганизации Редакции все документы (финансовохозяйственные, управленческие и др.) передаются новой Редакции,
  утвержденной Учредителем.
  9.18. При ликвидации Редакции документы постоянного хранения
  передаются на государственное хранение в архив по месту нахождения
  Редакции.
  9.19. Передача и упорядочение документов осуществляются силами и за
  счет Редакции или Учредителя по решению Учредителя Журнала.
  10. Порядок утверждения, вступления в силу
  и изменения Устава Редакции
  10.1. Устав Редакции Журнала:
  10.1.1. Принимается на общем собрании коллектива журналистов в
  соответствии с п.5.5. настоящего Устава и утверждается Учредителем.
  10.1.2. Вступает в силу с момента его утверждения Учредителем.
  10.2. Изменения и дополнения в Устав Редакции предлагаются
  Учредителем по собственной инициативе, по предложению Редакции,
  принимаются на общем собрании коллектива журналистов в соответствии с
  п. 6.5. настоящего Устава и утверждаются Учредителем.
  10.3. В случае отказа Учредителя утвердить внесенные коллективом
  журналистов изменения к Уставу, либо при отклонении на собрании
  коллектива журналистов дополнений и изменений, вносимых в Устав по
  инициативе Учредителя, стороны достигают согласия путем переговоров.
  10.4. Срок для урегулирования спора и достижения согласия - 30 дней.

</p>
</div>
<div class="footer">
  <div class="container">
    <h3 class="footer-block-title">Контакты</h3>

    <ul class="info-footer-adress">
      <li class="adress">620014, Россия, Екатеринбург, пр. Ленина, 26</li>
      <li class="mail">nvuc-uralconsv@rambler.ru</li>
      <li class="phone"><a href="tel:+7 (343) 371‑21‑80">+7 (343) 371‑21‑80</a>&nbsp;/&nbsp;<a
              href="tel:+7 (343) 371‑67‑61">+7 (343) 371‑67‑61 (факс)</a></li>
      <li class="time">Часы работы: 10:00 - 17:00</li>
    </ul>

    <h3 class="footer-block-title">Полезные ссылки</h3>

    <ul class="nav menu">
      <li class="item-632"><a href="https://culture.gov.ru/"> Министерство культуры РФ</a></li>
      <li class="item-630"><a href="https://uralconsv.org/" target="_blank"> УГК им. М.П. Мусоргского</a></li>
      <li class="item-633"><a href="https://uralconsv.org/nauka/mag-usc/som" target="_blank"> Слово о музыке</a>
      </li>
      <li class="item-631"><a href="https://www.elibrary.ru/defaultx.asp" target="_blank"> eLIBRARY.RU</a></li>
      <li class="item-634"><a href="https://eurasia.mosconsv.ru/"> Музыкальное искусство Евразии. Традиции и
        современность</a></li>
    </ul>


    <h3 class="footer-block-title">Информация</h3>


    <div class="me-inline">
      <h3>"Музыка в системе культуры: Научный вестник Уральской консерватории"</h3>
      <p>Научное периодическое издание</p>
      <p>Четыре раза в год, формат В5</p>
    </div>

    <p style="text-align: left;">Свидетельство о регистрации средств массовой информации:</p>
    <p style="text-align: left;">ПИ № ФС 77-78783 от 30 июля 2020 г.</p>
    <p style="text-align: left;">ISSN 2658-7858</p>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <span class="sp-copyright">©2022 "Музыка в системе культуры: Научный вестник Уральской консерватории"</span>
  </div>
</div>
</div>
</body>

</html>