<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>

<header>

    <div class="logo">
        <!--        <img src="static/images/logo.png" alt="logo">-->
        <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
    </div>

    <nav>
        <ul class="menu">
            <li>
                <a href="/">Архив выпусков</a>
                <ul>
                    <li th:each="year : ${#numbers.sequence(T(java.time.Year).now().value,2008,-1)}">
                        <a href="#" th:text="${year}"></a>
                        <ul>
                            <li th:each="journal : ${journals}"
                                th:if="${journal.year==year}">
                                <a th:href="@{/journal/{id}(id=${journal.id})}"
                                   th:text="'Выпуск № ' + ${journal.issue}">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sp-menu-item">
                <a>Об издании</a>
                <ul>
                    <li>
                        <a href="/about">Информация об издании</a>
                    </li>
                    <li>
                        <a href="/founder">Учредитель и издатель</a>
                    </li>
                    <li>
                        <a href="/charter">Устав</a>
                    </li>
                    <li>
                        <a href="/editorial-board">Редакционная коллегия</a></li>
                    <li>
                        <a href="/editorial-ethics">Редакционная этика</a></li>
                </ul>
            </li>


            <li class="sp-menu-item">
                <a href="/for-authors ">Авторам</a>
            </li>
            <li class="sp-menu-item">
                <a class="active" href="/contacts">Контакты</a>
            </li>
        </ul>
    </nav>
</header>

<article class="item item-page" itemscope="" itemtype="http://schema.org/Article">
    <meta itemprop="inLanguage" content="ru-RU">
    <div class="entry-header has-post-format">
        <h2 itemprop="name">Контакты учредителя, издателя и редакции</h2>
    </div>
    <div itemprop="articleBody" class="s-content">
        <h5>Адрес: 620014, Россия, Екатеринбург, пр. Ленина, 26</h5>
        <h5>Тел.: +7 (343) 371‑21‑80; +7 (343) 371‑67‑61 (факс)</h5>
        <h5>E-mail:&nbsp;<span id="cloakd0abd170d2f9d38036aa579cb1a79314">
            <span id="cloak0c279da4328ba4f106a7c868ecb620bc">
                <a href="mailto:mail@uralconsv.org">mail@uralconsv.org</a></span>;&nbsp;
            <span id="cloak9c14d0384a194375a443551dc3debd62">
            <a href="mailto:nvuc-uralconsv@rambler.ru">nvuc-uralconsv@rambler.ru</a></span>&nbsp;</span></h5>
        <h5>Интернет-сайт учредителя журнала: www.uralconsv.org</h5>
        <h5>Интернет-сайт журнала: www.nvuc.ru</h5> 	</div>
</article>

<div class="footer">
    <div class="container">
        <h3 class="footer-block-title">Контакты</h3>

        <ul class="info-footer-adress">
            <li class="adress">620014, Россия, Екатеринбург, пр. Ленина, 26</li>
            <li class="mail">nvuc-uralconsv@rambler.ru</li>
            <li class="phone"><a href="tel:+7 (343) 371‑21‑80">+7 (343) 371‑21‑80</a>&nbsp;/&nbsp;<a
                    href="tel:+7 (343) 371‑67‑61">+7 (343) 371‑67‑61 (факс)</a></li>
            <li class="time">Часы работы: 10:00 - 17:00</li>
        </ul>

        <h3 class="footer-block-title">Полезные ссылки</h3>

        <ul class="nav menu">
            <li class="item-632"><a href="https://culture.gov.ru/"> Министерство культуры РФ</a></li>
            <li class="item-630"><a href="https://uralconsv.org/" target="_blank"> УГК им. М.П. Мусоргского</a></li>
            <li class="item-633"><a href="https://uralconsv.org/nauka/mag-usc/som" target="_blank"> Слово о музыке</a>
            </li>
            <li class="item-631"><a href="https://www.elibrary.ru/defaultx.asp" target="_blank"> eLIBRARY.RU</a></li>
            <li class="item-634"><a href="https://eurasia.mosconsv.ru/"> Музыкальное искусство Евразии. Традиции и
                современность</a></li>
        </ul>


        <h3 class="footer-block-title">Информация</h3>


        <div class="me-inline">
            <h3>"Музыка в системе культуры: Научный вестник Уральской консерватории"</h3>
            <p>Научное периодическое издание</p>
            <p>Четыре раза в год, формат В5</p>
        </div>

        <p style="text-align: left;">Свидетельство о регистрации средств массовой информации:</p>
        <p style="text-align: left;">ПИ № ФС 77-78783 от 30 июля 2020 г.</p>
        <p style="text-align: left;">ISSN 2658-7858</p>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <span class="sp-copyright">©2022 "Музыка в системе культуры: Научный вестник Уральской консерватории"</span>
    </div>
</div>
</div>
</body>

</html>