<div class="article">

    <div class="header-article">
    <h2>Редакционная коллегия</h2>
    </div>
    <div class="article-content">
        <p style="text-align: justify;"><strong>Мешкова</strong>&nbsp;Анна Сергеевна, главный редактор,&nbsp;кандидат
            искусствоведения, доцент, Уральская государственная консерватория им. М. П. Мусоргского;</p>
        <p style="text-align: justify;"><strong>Бородин</strong> Борис Борисович, доктор искусствоведения, профессор,
            Уральская государственная консерватория им. М. П. Мусоргского (Екатеринбург, Россия), заведующий кафедрой
            истории и теории исполнительского искусства;</p>
        <p style="text-align: justify;"><strong>Брагинская</strong> Наталия Александровна, кандидат искусствоведения,
            доцент, Санкт-Петербургская государственная консерватория им. Н. А. Римского-Корсакова (Санкт-Петербург,
            Россия), заведующая кафедрой истории зарубежной музыки;</p>
        <p style="text-align: justify;"><strong>Валькова</strong> Вера Борисовна, доктор искусствоведения, профессор,
            Российская академия музыки им. Гнесиных (Москва, Россия), профессор кафедры истории музыки;</p>
        <p style="text-align: justify;"><strong>Власова</strong> Екатерина Сергеевна, доктор искусствоведения,
            профессор, Московская государственная консерватория им. П. И. Чайковского (Москва, Россия), профессор
            кафедры истории русской музыки;</p>
        <p style="text-align: justify;"><strong>Гирфанова</strong> Марина Евгеньевна, доктор искусствоведения,
            профессор, Казанская государственная консерватория им. Н. Г. Жиганова, профессор кафедры теории музыки;</p>
        <p style="text-align: justify;"><strong>Городилова</strong> Марина Викторовна, кандидат искусствоведения,
            доцент, Уральская государственная консерватория им. М. П. Мусоргского (Екатеринбург, Россия), заведующая
            кафедрой теории музыки;</p>
        <p style="text-align: justify;"><strong>Денисова-Брюжман</strong> Екатерина Олеговна, кандидат искусствоведения,
            доктор музыкознания (Университет Sorbonnes – Paris IV), Совместное объединение художественного образования
            (Осер, Франция), преподаватель;</p>
        <p style="text-align: justify;"><strong>Коларова-Гидишка</strong> Эмилия Кристева, PhD, Национальная музыкальная
            академия им. Панчо Владигерова (София, Болгария), профессор кафедры истории музыки и этномузыкологии;</p>
        <p style="text-align: justify;"><strong>Коробова</strong> Алла Германовна, доктор искусствоведения, Уральская
            государственная консерватория им. М. П. Мусоргского (Екатеринбург, Россия), профессор кафедры теории музыки;
        </p>
        <p style="text-align: justify;"><strong>Крылова</strong> Александра Владимировна, доктор культурологии,
            профессор, Ростовская государственная консерватория им. С. В. Рахманинова (Ростов-на-Дону, Россия),
            проректор по научной работе, заведующая кафедрой продюсерства исполнительских искусств;</p>
        <p style="text-align: justify;"><strong>Мироненко</strong> Елена Сергеевна, доктор искусствоведения и
            культурологии, профессор, Академия музыки, театра и изобразительных искусств (Кишинёв, Республика Молдова),
            заведующая секцией истории музыки на кафедре музыковедения и композиции;</p>
        <p style="text-align: justify;"><strong>Панкина</strong> Елена Валериевна, доктор искусствоведения, доцент,
            Уральская государственная консерватория им. М. П. Мусоргского (Екатеринбург, Россия), проректор по учебной
            работе, профессор кафедры истории музыки;</p>
        <p style="text-align: justify;"><strong>Серебрякова</strong> Любовь Алексеевна, кандидат искусствоведения,
            профессор, Уральская государственная консерватория им. М. П. Мусоргского (Екатеринбург, Россия), заведующая
            кафедрой истории музыки;</p>
        <p style="text-align: justify;"><strong>Сиднева</strong> Татьяна Борисовна, доктор культурологии, профессор,
            Нижегородская государственная консерватория им. М. И. Глинки (Нижний Новгород, Россия), проректор по научной
            работе, заведующая кафедрой философии и эстетики;</p>
        <p style="text-align: justify;"><strong>Фиденко</strong> Юлия Леонидовна, доктор искусствоведения, профессор,
            Дальневосточный государственный институт искусств (Владивосток, Россия), декан музыкального факультета,
            профессор кафедры истории музыки;</p>
        <p style="text-align: justify;"><strong>Чахвадзе</strong> Натэлла Владимировна, доктор искусствоведения, доцент,
            Магнитогорская государственная консерватория им. М. И. Глинки (Магнитогорск, Россия), профессор кафедры
            истории и теории музыки.</p>
    </div>
</div>