<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Авторам</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>

<script src="/js/script.js"></script>

<header>
    <div class="container">
        <div class="logo">
            <!--        <img src="static/images/logo.png" alt="logo">-->
            <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
        </div>

        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="nav">
            <ul class="menu" id="menu">
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle" th:text="#{menu.archive}">Архив выпусков</a>
                    <ul class="drop-down submenu">
                        <li class="has-submenu" th:each="entry : ${archive}">
                            <a href="#" class="submenu-toggle" th:text="${entry.key}"></a>
                            <ul class="submenu">
                                <li th:each="journal : ${entry.value}">
                                    <a th:href="@{/journal/{id}(id=${journal.id})}"
                                       th:text="#{journal.issue} + ' № ' + ${journal.issue}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle" th:text="#{menu.about}">Об издании</a>
                    <ul class="drop-down submenu">
                        <li>
                            <a href="/about" th:text="#{menu.about-information}">Информация об издании</a>
                        </li>
                        <li>
                            <a href="/founder" th:text="#{menu.founder}">Учредитель и издатель</a>
                        </li>
                        <li>
                            <a th:href="@{/files/documents/charter.pdf}" target="_blank"
                               th:text="#{menu.charter}">Устав</a>
                        </li>
                        <li>
                            <a href="/editorial-board" th:text="#{menu.editorial-board}">Редакционная коллегия</a></li>
                        <li>
                            <a href="/editorial-ethics" th:text="#{menu.editorial-ethic}">Редакционная этика</a></li>
                    </ul>
                </li>
                <li class="sp-menu-item">
                    <a href="/for-authors" th:text="#{menu.authors}">Авторам</a>
                </li>
                <li class="sp-menu-item">
                    <a href="/contacts" th:text="#{menu.contacts}">Контакты</a>
                </li>
                <li class="language-switcher has-submenu">

                    <!-- DESKTOP -->
                    <div class="language-toggle">
                        <span>RU</span>

                        <label class="switch">
                            <input type="checkbox"
                                   th:checked="${#locale.language == 'en'}"
                                   onchange="changeLanguage(this)">
                            <span class="slider"></span>
                        </label>

                        <span>EN</span>
                    </div>

                    <!-- MOBILE -->
                    <a href="#"
                       class="submenu-toggle language-mobile-toggle"
                       onclick="return false;"
                       th:text="${#locale.language == 'en' ? 'EN' : 'RU'}">
                        Русский
                    </a>

                    <ul class="submenu language-mobile-menu">

                        <li>
                            <a href="#"
                               onclick="changeLanguageMobile('ru'); return false;">
                                Русский
                            </a>
                        </li>

                        <li>
                            <a href="#"
                               onclick="changeLanguageMobile('en'); return false;">
                                English
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>
        </nav>
    </div>
</header>

<main>
    <article class="item item-page" itemscope="" itemtype="http://schema.org/Article">
        <div class="container">
            <div class="issue-wrapper">
                <div class="header-article">
                    <h2 class="header-founder">Авторам</h2>
                </div>
                <div class="for-authors-article-content">
                    <a class="founder-link" th:href="@{/files/documents/design_requirements.pdf}" target="_blank" rel="noopener noreferrer">Требования
                        к оформлению
                        статей</a></h4>
                    <a class="founder-link" th:href="@{/files/documents/copyright_agreement.pdf}" target="_blank" rel="noopener noreferrer">Авторский
                        договор
                        (публичная оферта)</a></h4>
                    <a class="founder-link" th:href="@{/files/documents/procedure_for_reviewing.pdf}" target="_blank" rel="noopener noreferrer">Порядок
                        рецензирования статей</a></h4>
                </div>
            </div>
        </div>
    </article>
</main>

<div class="footer fixed-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-adress footer-columns">
                <h3 class="footer-block-title">Контакты</h3>

                <ul class="info-footer-adress">
                    <li class="adress">620014, Россия, Екатеринбург, пр. Ленина, 26</li>
                    <li class="mail">nvuc-uralconsv@rambler.ru</li>
                    <li class="phone"><p>+7 (343) 371‑21‑80&nbsp;/&nbsp+7 (343) 371‑67‑61 (факс)</p></li>
                    <li class="time">Часы работы: 10:00 - 17:00</li>
                </ul>
            </div>

            <div class="footer-links footer-columns">
                <h3 class="footer-block-title">Полезные ссылки</h3>

                <ul class="footer-menu-links">
                    <li class="item-632"><a href="https://culture.gov.ru/">Министерство культуры РФ</a></li>
                    <li class="item-630"><a href="https://uralconsv.org/" target="_blank">УГК им. М.П. Мусоргского</a>
                    </li>
                    <li class="item-633"><a href="https://uralconsv.org/nauka/mag-usc/som" target="_blank">Слово о
                        музыке</a>
                    </li>
                    <li class="item-631"><a href="https://www.elibrary.ru/defaultx.asp" target="_blank">eLIBRARY.RU</a>
                    </li>
                    <li class="item-634"><a href="https://eurasia.mosconsv.ru/">Музыкальное искусство Евразии. Традиции и
                        современность</a></li>
                </ul>
            </div>

            <div class="footer-information footer-columns">
                <h3 class="footer-block-title">Информация</h3>
                <h4>"Музыка в системе культуры: Научный вестник Уральской консерватории"</h4>
                <p>Научное периодическое издание</p>
                <p>Четыре раза в год, формат В5</p>
                <p>Свидетельство о регистрации средств массовой информации:</p>
                <p>ПИ № ФС 77-78783 от 30 июля 2020 г.</p>
                <p>ISSN 2658-7858</p>
            </div>


        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span class="sp-copyright">©2022 "Музыка в системе культуры: Научный вестник Уральской консерватории"</span>
        </div>
    </div>
</div>
</body>
</html>