<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" xmlns:th="http://www.w3.org/1999/xhtml">

<header xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="logo">
        <!--        <img src="static/images/logo.png" alt="logo">-->
        <img th:src="@{/images/logo.png}" alt="logo">
    </div>

    <nav>
        <ul class="menu">
            <li>
                <a href="#">Архив выпусков</a>
                <ul>
                    <li th:each="year : ${#numbers.sequence(T(java.time.Year).now().value,2008,-1)}">
                        <a href="#" th:text="${year}"></a>
                        <ul>
                            <li th:each="journal : ${journals}"
                                th:if="${journal.year==year}">
                                <a th:href="@{/journal/{id}(id=${journal.id})}"
                                   th:text="'Выпуск № ' + ${journal.issue}">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sp-menu-item">
                <a href="/about-the-edition">Об издании</a></li>
            <li class="sp-menu-item current-item active">
                <a href="/founder-and-publisher">Учредитель и издатель</a>
            </li>
            <li class="sp-menu-item">
                <a href="/charter-of-the-editorial-board">Устав</a></li>
            <li class="sp-menu-item">
                <a href="/editorial-board">Редакционная коллегия</a></li>
            <li class="sp-menu-item">
                <a href="/editorial-ethics">Редакционная этика</a></li>
            <li class="sp-menu-item">
                <a href="/for-authors ">Авторам</a></li>
            <li class="sp-menu-item">
                <a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>

<div class="article">
    <div class="header-article">
        <h2>Учредитель и издатель</h2>
    </div>
    <div class="article-content"
    <!--гипер-ссылка и ссылки на соц сети и сайт-->
    <p>Федеральное государственное бюджетное образовательное учреждение высшего образования «Уральская государственная
        консерватория имени М.П. Мусоргского».</p>
        <a href="#">
        <a href="#">
        <a href="#">

</div>
</div>