<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title th:text="#{head.main-title}">Музыка в системе культуры</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>

<script src="/js/script.js"></script>

<header>
    <div class="container">
        <div class="logo">
            <!--        <img src="static/images/logo.png" alt="logo">-->
            <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
        </div>

        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="nav">
            <ul class="menu" id="menu">
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle" th:text="#{menu.archive}">Архив выпусков</a>
                    <ul class="drop-down submenu">
                        <li class="has-submenu" th:each="entry : ${archive}">
                            <a href="#" class="submenu-toggle" th:text="${entry.key}"></a>
                            <ul class="submenu">
                                <li th:each="journal : ${entry.value}">
                                    <a th:href="@{/journal/{id}(id=${journal.id})}"
                                       th:text="#{journal.issue} + ' № ' + ${journal.issue}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle" th:text="#{menu.about}">Об издании</a>
                    <ul class="drop-down submenu">
                        <li>
                            <a href="/about" th:text="#{menu.about-information}">Информация об издании</a>
                        </li>
                        <li>
                            <a href="/founder" th:text="#{menu.founder}">Учредитель и издатель</a>
                        </li>
                        <li>
                            <a th:href="@{/files/documents/charter.pdf}" target="_blank"
                               th:text="#{menu.charter}">Устав</a>
                        </li>
                        <li>
                            <a href="/editorial-board" th:text="#{menu.editorial-board}">Редакционная коллегия</a></li>
                        <li>
                            <a href="/editorial-ethics" th:text="#{menu.editorial-ethic}">Редакционная этика</a></li>
                    </ul>
                </li>
                <li class="sp-menu-item">
                    <a href="/for-authors" th:text="#{menu.authors}">Авторам</a>
                </li>
                <li class="sp-menu-item">
                    <a href="/contacts" th:text="#{menu.contacts}">Контакты</a>
                </li>
                <li class="language-switcher has-submenu">

                    <!-- DESKTOP -->
                    <div class="language-toggle">
                        <span>RU</span>

                        <label class="switch">
                            <input type="checkbox"
                                   th:checked="${#locale.language == 'en'}"
                                   onchange="changeLanguage(this)">
                            <span class="slider"></span>
                        </label>

                        <span>EN</span>
                    </div>

                    <!-- MOBILE -->
                    <a href="#"
                       class="submenu-toggle language-mobile-toggle"
                       onclick="return false;"
                       th:text="${#locale.language == 'en' ? 'EN' : 'RU'}">
                        Русский
                    </a>

                    <ul class="submenu language-mobile-menu">

                        <li>
                            <a href="#"
                               onclick="changeLanguageMobile('ru'); return false;">
                                Русский
                            </a>
                        </li>

                        <li>
                            <a href="#"
                               onclick="changeLanguageMobile('en'); return false;">
                                English
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>
        </nav>
    </div>
</header>

<main>
    <article>
        <div class="container">
            <div class="about-journal">
                <div class="main-cover">
                    <img src="images/main_page_image.jpg">
                </div>
                <div class="main-text">
                    <div class="p-main-text" th:utext="#{home.about-the-edition-text}"></div>
                    <a class="main-btn" href="/about" th:text="#{home.about-the-edition-button}">Подробнее об
                        издании</a>
                </div>
            </div>
            <div class="current-issue">
                <div class="current-issue-header">
                    <h1 th:text="#{home.current-issue-header}">Текущий выпуск</h1>
                </div>
                <div class="current-issue-wrapper">
                    <div class="main-cover current-issue-cover">
                        <img class="latest-cover" th:src="@{/files/covers/{f}(f=${latestJournal.cover})}">
                    </div>
                    <div class="current-issue-data">
                        <h3 th:text="${latestJournal.title}"></h3>
                        <div th:utext="${latestJournal.description}" class="current-issue-description"></div>
                        <h4 th:text="#{journal.content}">Содержание:</h4>
                        <div th:utext="${latestJournal.contents}" class="current-issue-contents"></div>
                        <a class="main-btn" th:href="@{/files/pdf/{file}(file=${latestJournal.pdf})}" target="_blank"
                           th:text="#{home.read}">Читать
                            выпуск</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<div class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-adress footer-columns">
                <h3 class="footer-block-title" th:text="#{home.footer-contacts-header}">Контакты</h3>

                <ul class="info-footer-adress">
                    <li><p th:text="#{home.footer-contacts-adress}"></p></li>
                    <li class="mail">nvuc-uralconsv@rambler.ru</li>
                    <li class="phone"><p th:utext="#{home.footer-contacts-tel}">+7 (343) 371‑21‑80&nbsp;/&nbsp+7 (343)
                        371‑67‑61 (факс)</p></li>
                    <li class="time" th:text="#{home.footer-contacts-hours}">Часы работы: 10:00 - 17:00</li>
                </ul>
            </div>

            <div class="footer-links footer-columns">
                <h3 class="footer-block-title" th:text="#{home.footer-links-header}">Полезные ссылки</h3>

                <ul class="footer-menu-links">
                    <li class="item-632"><a href="https://culture.gov.ru/" th:text="#{home.footer-links-first}">Министерство
                        культуры РФ</a></li>
                    <li class="item-630"><a href="https://uralconsv.org/" target="_blank"
                                            th:text="#{home.footer-links-second}">УГК им. М.П. Мусоргского</a>
                    </li>
                    <li class="item-633"><a href="https://uralconsv.org/nauka/mag-usc/som" target="_blank"
                                            th:text="#{home.footer-links-third}">Слово о
                        музыке</a>
                    </li>
                    <li class="item-631"><a href="https://www.elibrary.ru/defaultx.asp" target="_blank">eLIBRARY.RU</a>
                    </li>
                    <li class="item-634"><a href="https://eurasia.mosconsv.ru/" th:text="#{home.footer-links-last}">Музыкальное
                        искусство Евразии. Традиции
                        и
                        современность</a></li>
                </ul>
            </div>

            <div class="footer-information footer-columns">
                <h3 class="footer-block-title" th:text="#{home.footer-information-header}">Информация</h3>
                <div th:utext="#{home.footer-information-text}"></div>
            </div>


        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span class="sp-copyright">©2022 "Музыка в системе культуры: Научный вестник Уральской консерватории"</span>
        </div>
    </div>
</div>

</body>
</html>