<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Музыка в системе культуры</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>

<header>
    <div class="container">
        <div class="logo">
            <!--        <img src="static/images/logo.png" alt="logo">-->
            <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
        </div>

        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="nav">
            <ul class="menu" id="menu">
                <li>
                    <a href="/">Архив выпусков</a>
                    <ul class="drop-down">
                        <li th:each="entry : ${archive}">
                            <a href="#" th:text="${entry.key}"></a>
                            <ul>
                                <li th:each="journal : ${entry.value}">
                                    <a th:href="@{/journal/{id}(id=${journal.id})}"
                                       th:text="'Выпуск № ' + ${journal.issue}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sp-menu-item">
                    <a>Об издании</a>
                    <ul class="drop-down">
                        <li>
                            <a href="/about">Информация об издании</a>
                        </li>
                        <li>
                            <a href="/founder">Учредитель и издатель</a>
                        </li>
                        <li>
                            <a th:href="@{/pdf/documents/charter}" target="_blank">Устав</a>
                        </li>
                        <li>
                            <a href="/editorial-board">Редакционная коллегия</a></li>
                        <li>
                            <a href="/editorial-ethics">Редакционная этика</a></li>
                    </ul>
                </li>
                <li class="sp-menu-item">
                    <a href="/for-authors ">Авторам</a>
                </li>
                <li class="sp-menu-item">
                    <a href="/contacts">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <article>
        <div class="container">
            <div class="about-journal">
                <div class="main-cover">
                    <img src="images/main_page_image.jpg">
                </div>
                <div class="main-text">
                    <p><strong>«Музыка в системе культуры: Научный вестник Уральской консерватории»</strong> –
                        периодическое печатное издание, публикующее научные труды представителей российских
                        консерваторий,
                        вузов
                        искусств.</p>
                    <p>Тематика издания включает актуальные теоретические и исторические
                        проблемы
                        современного музыкознания, различные аспекты исполнительства, музыкального краеведения,
                        фольклористики,
                        духовно-музыкальной культуры, музыкальной педагогики, истории музыкального образования.</p>
                    <p>Журнал издаётся с 2005 г. В 2005–2011 гг. выходил под названием «Музыка
                        в
                        системе культуры». С 2013 г. издаётся под названием «Музыка в системе культуры: Научный вестник
                        Уральской
                        консерватории». Журнал включён в Российский индекс научного цитирования (РИНЦ).</p>
                    <a class="main-btn" href="/about">Подробнее об издании<i class="fas fa-arrow-right ml-2"></i></a>
                </div>
            </div>
            <div class="current-issue">
                <div class="current-issue-header">
                    <h1>Текущий выпуск</h1>
                </div>
                <div class="current-issue-wrapper">
                    <div class="main-cover current-issue-cover">
                        <img class="latest-cover" th:src="@{/images/{f}(f=${latestJournal.cover})}">
                    </div>
                    <div class="current-issue-data">
                        <h3 th:text="${latestJournal.title}"></h3>
                        <div th:utext="${latestJournal.description}" class="current-issue-description"></div>
                        <h4>Содержание:</h4>
                        <div th:utext="${latestJournal.contents}" class="current-issue-contents"></div>
                        <a class="main-btn" th:href="@{/pdf/{file}(file=${latestJournal.pdf})}" target="_blank">Читать
                            выпуск</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<div class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-adress footer-columns">
                <h3 class="footer-block-title">Контакты</h3>

                <ul class="info-footer-adress">
                    <li class="adress">620014, Россия, Екатеринбург, пр. Ленина, 26</li>
                    <li class="mail">nvuc-uralconsv@rambler.ru</li>
                    <li class="phone"><p>+7 (343) 371‑21‑80&nbsp;/&nbsp+7 (343) 371‑67‑61 (факс)</p></li>
                    <li class="time">Часы работы: 10:00 - 17:00</li>
                </ul>
            </div>

            <div class="footer-links footer-columns">
                <h3 class="footer-block-title">Полезные ссылки</h3>

                <ul class="footer-menu-links">
                    <li class="item-632"><a href="https://culture.gov.ru/">Министерство культуры РФ</a></li>
                    <li class="item-630"><a href="https://uralconsv.org/" target="_blank">УГК им. М.П. Мусоргского</a>
                    </li>
                    <li class="item-633"><a href="https://uralconsv.org/nauka/mag-usc/som" target="_blank">Слово о
                        музыке</a>
                    </li>
                    <li class="item-631"><a href="https://www.elibrary.ru/defaultx.asp" target="_blank">eLIBRARY.RU</a>
                    </li>
                    <li class="item-634"><a href="https://eurasia.mosconsv.ru/">Музыкальное искусство Евразии. Традиции и
                        современность</a></li>
                </ul>
            </div>

            <div class="footer-information footer-columns">
                <h3 class="footer-block-title">Информация</h3>
                <h4>"Музыка в системе культуры: Научный вестник Уральской консерватории"</h4>
                <p>Научное периодическое издание</p>
                <p>Четыре раза в год, формат В5</p>
                <p>Свидетельство о регистрации средств массовой информации:</p>
                <p>ПИ № ФС 77-78783 от 30 июля 2020 г.</p>
                <p>ISSN 2658-7858</p>
            </div>


        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span class="sp-copyright">©2022 "Музыка в системе культуры: Научный вестник Уральской консерватории"</span>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const burger = document.getElementById('burger');
        const menu = document.getElementById('menu');
        const nav = document.getElementById('nav');

        burger.addEventListener('click', function() {
            menu.classList.toggle('open');
            nav.addEventListener('click', function() {
                // Сбрасываем overflow
                nav.style.overflow = 'unset';
            });
        });

        // Закрывать меню при клике на ссылку (для удобства)
        menu.querySelectorAll('a').forEach(link => {
            link.addEventListener('click', () => {
                menu.classList.remove('open');
            });
        });
    });
</script>

</body>
</html>