<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Музыка в системе культуры</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

</head>

<body>
<header>

    <div class="logo">
        <!--        <img src="static/images/logo.png" alt="logo">-->
        <a href="/"><img th:src="@{/images/logo.png}" alt="logo"></a>
    </div>

    <nav>
        <ul class="menu">
            <li>
                <a href="/">Архив выпусков</a>
                <ul>
                    <li th:each="year : ${#numbers.sequence(T(java.time.Year).now().value,2008,-1)}">
                        <a href="#" th:text="${year}"></a>
                        <ul>
                            <li th:each="journal : ${journals}"
                                th:if="${journal.year==year}">
                                <a th:href="@{/journal/{id}(id=${journal.id})}"
                                   th:text="'Выпуск № ' + ${journal.issue}">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sp-menu-item">
                <a>Об издании</a>
                <ul>
                    <li>
                        <a href="/about">Информация об издании</a>
                    </li>
                    <li>
                        <a href="/founder">Учредитель и издатель</a>
                    </li>
                    <li>
                        <a href="/charter">Устав</a>
                    </li>
                    <li>
                        <a href="/editorial-board">Редакционная коллегия</a></li>
                    <li>
                        <a href="/editorial-ethics">Редакционная этика</a></li>
                    <li class="sp-menu-item">
                        <a href="/for-authors ">Авторам</a>
                    </li>
                    <li class="sp-menu-item">
                        <a href="/contacts">Контакты</a>
                    </li>
                </ul>
            </li>



            <li class="sp-menu-item">
                <a href="# ">Авторам</a></li>
            <li class="#">
                <a href="#">Контакты</a></li>
        </ul>
    </nav>
</header>


<img th:src="@{/images/{f}(f=${journal.cover})}">

<h2 th:text="${journal.title}"></h2>

<p th:text="${journal.description}"></p>

<a th:href="@{/pdf/{file}(file=${journal.pdf})}"
   target="_blank"
   class="btn">
    Читать выпуск
</a>
</body>
</html>