<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Требования к оформлению статей</h4>
<table border="1">
    <tbody>
    <tr>
        <td>Формат файла</td>
        <td>doc docx</td>
    </tr>
    <tr>
        <td>Шрифт</td>
        <td>Times New Roman</td>
    </tr>
    <tr>
        <td>Кегль</td>
        <td>14 – в названии статьи и её тексте, 12 – в примечаниях списке литературы, References, сведениях
            об
            авторе.
        </td>
    </tr>
    <tr>
        <td>Межстрочный интервал</td>
        <td>полуторный. В примечаниях – одинарный.</td>
    </tr>
    <tr>
        <td>Поля</td>
        <td>По 2 см со всех сторон</td>
    </tr>
    <tr>
        <td>Интервал между буквами</td>
        <td>обычный, без разрядки и сжатия. Не использовать принудительные переносы, лишние пробелы между
            словами.
        </td>
    </tr>
    <tr>
        <td>Абзацный отступ</td>
        <td>1 см без использования табуляции или пробелов.</td>
    </tr>
    <tr>
        <td>Неразрывный пробел</td>
        <td>– между фамилией и инициалами
            – между № и цифрой
            – в допустимых сокращениях: и т. д. и т. п.
        </td>
    </tr>
    <tr>
        <td>Объём статьи</td>
        <td> 16 000 – 20 000 печатных знаков. В случаях обоснованной необходимости вопрос о превышении
            данного
            объёма решается редакционной коллегией.
        </td>
    </tr>
    <tr>
        <td>Название статьи</td>
        <td>форматируется по центру (убрать абзацный отступ),
            выделяется жирным шрифтом.
            Ниже даётся название статьи на английском языке.
        </td>
    </tr>
    <tr>
        <td>Имя и фамилия автора</td>
        <td>указываются в правом верхнем углу над названием статьи, выделяются жирным курсивом.</td>
    </tr>
    <tr>
        <td>Цитирование в тексте</td>
        <td>все издания, фигурирующие в ссылках, должны присутствовать в списке литературы.</td>
    </tr>
    <tr>
        <td>Ссылки на литературу</td>
        <td>приводятся внутри текста в квадратных скобках. Образцы: [12, 25], [3; 12; 15], [5, 78; 13,
            56].
        </td>
    </tr>
    <tr>
        <td>Допустимый объём цитирований источников</td>
        <td>не более 30 % от общего объёма статьи. Цитирование архивных и старопечатных источников
            определяется
            тематикой статьи и не входит в указанные 30 % цитирований.
        </td>
    </tr>
    <tr>
        <td>Допустимый объём самоцитирования</td>
        <td>не более 15 % от общего объёма статьи. В тексте обозначается ссылка на первоисточник, которая
            оформляется согласно всем требованиям и правилам цитирования.
        </td>
    </tr>
    <tr>
        <td>Использование буквы <em>ё</em></td>
        <td>обязательно</td>
    </tr>
    <tr>
        <td>Дифференциация тире ( – ) и дефиса ( - )</td>
        <td>обязательно</td>
    </tr>
    <tr>
        <td>Обозначение века – года -</td>
        <td>римской цифрами арабскими цифрами без приставленных окончаний «-го», «-му» и т. д.</td>
    </tr>
    <tr>
        <td>Начертание кавычек –</td>
        <td>« », внутри цитаты – “ ” (перейти на латиницу)</td>
    </tr>
    <tr>
        <td>Выделение слов в тексте</td>
        <td>курсив, жирный курсив, жирный прямой шрифт. Подчёркивание слов не применяется.</td>
    </tr>
    <tr>
        <td>Допустимые сокращения слов в тексте</td>
        <td>– и т. д., и т. п. Иные сокращения слов, включая «век», «год», «другие», не применяются.</td>
    </tr>
    <tr>
        <td>Примечания</td>
        <td>приводятся в конце статьи после слова ПРИМЕЧАНИЯ, оформляются в ручном, а не автоматическом
            режиме,
            с последовательной нумерацией.
        </td>
    </tr>
    <tr>
        <td>Ссылки на архивные источники и старинные издания</td>
        <td>приводятся в ПРИМЕЧАНИЯХ</td>
    </tr>
    <tr>
        <td>Пристатейный (после Примечаний) Список литературы – алфавитный, на русском и затем иностранных
            языках
        </td>
        <td>Образцы оформления:
            Бахтин М. М. Эпос и роман // Бахтин М. М. Вопросы литературы и
            эстетики: Исследования разных лет. Москва : Художественная
            литература, 1975. С. 447–483.
            А.Л. Локшин – композитор и педагог: Сб. ст. / ред. А.А. Локшина.
            Москва : Композитор, 2005. 144 с.
            Бекетова Н. В. Трагическое и сатирическое в операх Шостаковича :
            автореф. дис. ... канд. искусствоведения. Москва, 1991. 24 с.
            Нехамкин Э. Три ипостаси Сержа Кусевицкого. URL:
            https://www.peoples.ru/art/music/conductor/kusevickiy/history.html
            (дата обращения: 17.10.2021).
        </td>
    </tr>
    <tr>
        <td>Количество источников в Списке литературы</td>
        <td>До 15 (максимум 20) позиций. Все указанные публикации должны фигурировать в тексте статьи. В
            случаях
            обоснованной необходимости вопрос о превышении количества источников решается редакционной
            коллегией.
        </td>
    </tr>
    <tr>
        <td>Требования к списку литературы</td>
        <td>– литература по тематике статей, в том числе за последние 5 лет (2-3 источника);
            – <em>желательно</em>: иностранные издания из цитируемых за рубежом
            журналов за последние 5 лет (2-3 наименования по близкой теме или
            по проблеме, косвенно связанной с темой статьи).
        </td>
    </tr>
    <tr>
        <td>References (после Списка литературы)</td>
        <td>Русскоязычное название книги, статьи, издания даётся в
            транслитерации на латинице, а также в переводе на английский язык
            в квадратных скобках. Англоязычные источники включаются в
            References без транслитерации. Источники на других иностранных
            языках включаются в References без транслитерации с переводом
            названия на английский язык.
            Образцы оформления:
            Bahtin M. M. Epos i roman [Epic and novel] // Bahtin M. M. Voprosy
            literatury i estetiki: Issledovaniya raznyh let [Questions of literature and
            aesthetics: Studies of different years]. Moscow : Hudozhestvennaya
            literatura, 1975. pp. 447–483. (in Russ).
            A.L. Lokshin – kompozitor i pedagog: Sb. st. [Alexander Lokshin –
            Composer and Teacher: Compilation of Articles]. Edited by
            A.A. Lokshina. Moscow: Kompozitor, 2005. 144 p. (in Russ).
            Jung H. Die Pastorale: Studien zur Geschichte eines musikalischen Topos
            [The Pastoral: Studies on the history of a musical topos], Bern, München,
            Francke Verlag, 1980. 296 p. (in German).
        </td>
    </tr>
    <tr>
        <td>Графические изображения</td>
        <td>Схемы, таблицы, фотографии, иллюстрации, нотные примеры
            нумеруются и даются с поясняющей информацией после
            Примечаний и Списка литературы либо в тексте статьи.
            Нотные примеры выполняются методом компьютерной графики,
            переводится в формат рисунков с разрешением 600 dpi.
        </td>
    </tr>
    <tr>
        <td>Сведения об авторе (на русском и английском языках)</td>
        <td>Указывается следующая информация:
            – учёная степень, учёное звание,
            – должность,
            – место работы (с указанием города, страны),
            – ORCID, SPIN-код, Researcher ID и др. (при наличии),
            – адрес электронной почты,
            – номер телефона (требуется исключительно для связи с
            редколлегией и в публикацию не включается).
        </td>
    </tr>
    <tr>
        <td>Аннотация (на русском и английском языках)</td>
        <td>около 150 слов. Аннотация отражает содержание статьи и включает основные выводы. В ней кратко
            воспроизводится структура статьи, указываются цель и задачи.
        </td>
    </tr>
    <tr>
        <td>Ключевые слова (на русском и английском языках)</td>
        <td>3–7. Аннотация и ключевые слова даются после всех материалов статьи.</td>
    </tr>
    </tbody>
</table>
</body>
</html>